<a href="https://colab.research.google.com/github/gururajkulkarni40/Home_Rent_Prediction/blob/main/Home_Rent_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install panda

In [4]:

import pandas as pd
import matplotlib
import seaborn as sns

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
data=pd.read_csv('/content/drive/MyDrive/MACHINE LEARNING PROJECTS/Home_Rent_Prediction/kc_house_data.csv')

In [7]:
data.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

Exploratory Data Analysis¶

In [9]:
data.shape

(21613, 21)

In [10]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [11]:
data.describe()

                    id         price  ...  sqft_living15   sqft_lot15
count      21613.00000   21613.00000  ...    21613.00000  21613.00000
mean  4580301520.86499  540088.14177  ...     1986.55249  12768.45565
std   2876565571.31205  367127.19648  ...      685.39130  27304.17963
min      1000102.00000   75000.00000  ...      399.00000    651.00000
25%   2123049194.00000  321950.00000  ...     1490.00000   5100.00000
50%   3904930410.00000  450000.00000  ...     1840.00000   7620.00000
75%   7308900445.00000  645000.00000  ...     2360.00000  10083.00000
max   9900000190.00000 7700000.00000  ...     6210.00000 871200.00000

[8 rows x 20 columns]

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [13]:
data.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

Splitting of Data for training and testing

In [14]:
X=data[['bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement',
        'sqft_living15', 'sqft_lot15']]

In [17]:
X

       bedrooms  bathrooms  ...  sqft_living15  sqft_lot15
0             3    1.00000  ...           1340        5650
1             3    2.25000  ...           1690        7639
2             2    1.00000  ...           2720        8062
3             4    3.00000  ...           1360        5000
4             3    2.00000  ...           1800        7503
...         ...        ...  ...            ...         ...
21608         3    2.50000  ...           1530        1509
21609         4    2.50000  ...           1830        7200
21610         2    0.75000  ...           1020        2007
21611         3    2.50000  ...           1410        1287
21612         2    0.75000  ...           1020        1357

[21613 rows x 13 columns]

In [18]:
Y=data['price']

In [19]:
Y

0       221900.00000
1       538000.00000
2       180000.00000
3       604000.00000
4       510000.00000
            ...
21608   360000.00000
21609   400000.00000
21610   402101.00000
21611   400000.00000
21612   325000.00000
Name: price, Length: 21613, dtype: float64

In [20]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.19.5)

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test , Y_train , Y_test = train_test_split(X,Y,test_size=0.25,random_state=101)

In [24]:
X_train

       bedrooms  bathrooms  ...  sqft_living15  sqft_lot15
19642         4    2.50000  ...           2070        4610
8626          3    2.25000  ...           1800        8140
6954          5    3.00000  ...           1370        4606
20242         4    2.50000  ...           2598        4800
10376         5    3.50000  ...           1730       11711
...         ...        ...  ...            ...         ...
5695          3    2.25000  ...           1950       10125
8006          3    1.00000  ...           1680        3600
17745         3    2.25000  ...           1510        7625
17931         2    1.00000  ...           1463        4320
13151         3    1.00000  ...           1040        7740

[16209 rows x 13 columns]

Normalization basically Standarization

In [25]:
from sklearn.preprocessing import StandardScaler
std=StandardScaler()

In [26]:


X_train_std=std.fit_transform(X_train)
X_test_std=std.transform(X_test)

Model training

In [27]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [28]:
lr.fit(X_train_std,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
Y_pred=lr.predict(X_test_std)

In [30]:
Y_pred

array([356776.02589275, 511927.33428643, 573736.52389151, ...,
       824101.44697874, 437013.51415353, 731915.82170728])

In [31]:
Y_pred

array([356776.02589275, 511927.33428643, 573736.52389151, ...,
       824101.44697874, 437013.51415353, 731915.82170728])

In [32]:
from sklearn.metrics import mean_absolute_error,r2_score

In [33]:
mean_absolute_error(Y_test,Y_pred)

151500.53601090197

In [34]:
X_test

       bedrooms  bathrooms  ...  sqft_living15  sqft_lot15
3834          2    1.00000  ...           1600        9616
1348          4    2.25000  ...           1890        8580
20366         4    2.50000  ...           1480        4300
16617         5    2.00000  ...           1860       19998
20925         3    3.00000  ...           1670        4622
...         ...        ...  ...            ...         ...
7148          3    1.75000  ...           2310        5500
2747          5    3.00000  ...           2970       10335
15565         3    2.50000  ...           2710      112820
21238         3    2.50000  ...           1608        5175
2333          3    3.00000  ...           2270       18180

[5404 rows x 13 columns]

In [35]:


X_test.loc[7148]

bedrooms           3.00000
bathrooms          1.75000
sqft_living     1520.00000
sqft_lot        5500.00000
floors             1.50000
waterfront         0.00000
view               0.00000
condition          5.00000
grade              7.00000
sqft_above      1520.00000
sqft_basement      0.00000
sqft_living15   2310.00000
sqft_lot15      5500.00000
Name: 7148, dtype: float64

In [36]:
r2_score(Y_test,Y_pred)

0.6211653492243892

Lets predict for Single House

In [38]:
new_house=[[3,1,1520,5000,1,0,0,3,8,1000,1,2000,5000]]


new_house_std=std.transform(new_house)

new_house_std

array([[-0.40802008, -1.45225542, -0.61266906, -0.23898601, -0.91886978,
        -0.08921717, -0.30859645, -0.62682707,  0.29479541, -0.95778828,
        -0.65668671,  0.02089864, -0.27952571]])

In [39]:
int(lr.predict(new_house_std))

415354